.character {
	box-shadow: 3px 3px 10px grey;
	border-radius: 5px;
}
img {
	object-fit: cover;
	width: 100%;
	height: 100%;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
li {
	margin-left: 2.2rem;
	font-weight: bold;
}
li:last-child {
	margin-bottom: 1rem;
}
.NameAndStatus {
	display: flex;
	justify-content: space-between;
	margin: 1rem 1rem 0.5rem 1rem;
}
.nickname {
	margin-left: 1rem;
	margin-bottom: 0.5rem;
}
.occupation {
	margin-left: 1rem;
	font-weight: lighter;
	margin-bottom: 0.5rem;
}
button {
	padding: 0.5rem;
	color: white;
	border: 0;
}
.btn-alive {
	background: green;
}
.btn-dead {
	background: red;
}
.hr {
	margin-bottom: 0.5rem;
	width: 98%;
	margin-left: 0.3rem;
}
