.app {
	margin-left: 10%;
	margin-right: 5%;
}

.container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	gap: 2rem;
}

input {
	font-size: 1rem;
	width: 100%;
	padding: 0.5rem;
	border: solid 2px silver;
	border-radius: 0.25rem;
}

input:focus {
	outline: solid 2px skyblue;
}
